<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Online Youtube Downloader!</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <script type="text/javascript" src="styles/main.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                $('a#test720p').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('/background_process_test720p', function(data) {
                        //do nothing
                    });
                    return false;
                });
            });
            $(function() {
                $('a#test360p').on('click', function(e) {
                    e.preventDefault()
                    $.getJSON('/background_process_test360p', function(data) {
                        //do nothing
                    });
                    return false;
                });
            });
        </script>
    </head>
    <body>
        {% include 'home_page.html' %}
        
        {% block content %}
        {% endblock %}
        
        {% if cookies_check() %}
            {# then user has already consented so no requirement for consent banner #}
        {% else %}
            {# show a cookie consent banner #}
            <div id="cookie-consent-container">
                <h3>Cookies disclaimer</h3>
                <p>
                    Our site saves small pieces of text information (cookies) on your device in order to deliver better content and for statistical purposes. You can disable the usage of cookies by changing the settings of your browser. By browsing our website without changing the browser settings you grant us permission to store that information on your device. 
                </p>
                <button id="cookie-consent" class="btn btn-info">I Consent</button>
            </div>

            <script type="text/javascript">
                var fn = function () {
                    document.cookie = "cookie_consent=true";
                    document.getElementById('cookie-consent-container').hidden = true;
                };
                document.getElementById('cookie-consent').onclick = fn;
            </script>
        {% endif %}
    </body>
</html>