<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Online Youtube Downloader">
        <meta property="og:description" content="Download all kinds of youtube video in full HD quality">
        <meta property="og:image" content="https://savtube.com/static/icon/favicon.ico">
        <meta property="og:url" content="https://savtube.com">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
        <title>Online Youtube Downloader!</title>
        <meta name="description" content="Doownload youtube videos for free, read full video information, changing on device settings, cookies settings">
        <noscript>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" defer>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" async>
        </noscript>
        <script type="text/javascript" src="{{ url_for('static', filename='styles/main.js') }}"></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144176874-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-144176874-4');
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-DREFFTTVK8"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-DREFFTTVK8');
        </script>
        <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "Videos",
              "name": "savtube",
              "author": {
                "@type": "Person",
                "name": "Elvis Chukwuka"
              },
              "datePublished": "2022-010-20",
              "description": "This is an online youtube video downloader",
              "prepTime": "PT20M"
            }
        </script>

        <!-- loadCSS -->
        <script src="https://cdn.rawgit.com/filamentgroup/loadCSS/6b637fe0/src/cssrelpreload.js"></script>
        <script src="https://cdn.rawgit.com/filamentgroup/loadCSS/6b637fe0/src/loadCSS.js"></script>
        <script src="https://cdn.rawgit.com/filamentgroup/loadCSS/6b637fe0/src/onloadCSS.js"></script>
        <script>
            /*!
            loadCSS: load a CSS file asynchronously.
            */
            function loadCSS(href) {
                var ss = window.document.createElement('link'),
                    ref = window.document.getElementsByTagName('head')[0];

                ss.rel = 'stylesheet';
                ss.href = href;

                // temporarily, set media to something non-matching to ensure it'll
                // fetch without blocking render
                ss.media = 'only x';

                ref.parentNode.insertBefore(ss, ref);

                setTimeout( function(){
                    // set media back to `all` so that the stylesheet applies once it loads
                    ss.media = 'all';
                }, 0);
            }
            loadCSS('styles/main.css');
            loadCSS('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');
        </script>
    </head>
    <body>
        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        {% include 'home_page.html' %}

        {% block content %}
        {% endblock %}
        
        {% if cookies_check() %}
            {# then user has already consented so no requirement for consent banner #}
        {% else %}
            {# show a cookie consent banner #}
            <div id="cookie-consent-container">
                <h3>Cookies disclaimer</h3>
                <p>
                    Our site saves small pieces of text information (cookies) on your device in order to deliver better content and for statistical purposes. You can disable the usage of cookies by changing the settings of your browser. By browsing our website without changing the browser settings you grant us permission to store that information on your device. 
                </p>
                <button id="cookie-consent" class="btn btn-info">I Consent</button>
            </div>

            <script type="text/javascript">
                var fn = function () {
                    document.cookie = "cookie_consent=true";
                    document.getElementById('cookie-consent-container').hidden = true;
                };
                document.getElementById('cookie-consent').onclick = fn;
            </script>
        {% endif %}
        <!-- Your share button code -->
        <div class="fb-share-button" data-href="https://udownloadr.herokuapp.com" data-layout="button_count"></div>
    </body>
</html>