<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe title="gtag" src="https://www.googletagmanager.com/ns.html?id=GTM-5GN43PS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img width="40%" height="40%" src="{{ url_for('static', filename='icon/Youtube-dl.svg') }}" alt="youtube downloader logo">
                    <b>MP4US</b>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('terms') }}" target="_blank">Terms of use</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('privacy') }}" target="_blank">Privacy policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact') }}" target="_blank">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="p-5"></div>
        <div class="p-2"></div>
        <div class="container">
            <h1 class="title_css_">Mp4us: Online Youtube Link Video Downloader!</h1>
            <br>
            <br>
            <h2>Contact us</h2>
            <p>This is the contact information page for MP4US, Online Video Downloader website. Here you can learn how to give your feedback, report an error, ask a question, give your complaints or claims with respect to the MP4US services.</p>
            <h2>If you want to report an error</h2>
            <h5>Please specify additional information following:</h5>
            <ol>
                <li>address of the page (URL) from where you try to download the file,</li>
                <li>links or messages displayed by our website as an answer to your download request.</li>
            </ol>
            <p>Please, email any questions, error reports, or complaints to <b>support@mp4us.live</b> or <b>contact@mp4us.live</b></p>
            <hr>
        </div>
        {% include 'footer_page.html' %}
        <script type="text/javascript" src="{{ url_for('static', filename='styles/loading.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='styles/cookie.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var infolinks_pid = 3379587;
            var infolinks_wsid = 0;
        </script>
        <script type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script>
    </body>
</html>
