<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <div class="container">
            <div class="col">
                <div class="contact_css">
                    <a href="/">
                        <img class="logo_css" width="10%" height="10%" src="{{ url_for('static', filename='icon/Youtube-dl.svg') }}" alt="youtube downloader logo">
                    </a>
                    <h1 class="title_css_">Mp4us:~ Online Youtube Video Downloader!</h1>
                </div>
                <h2>Contact us</h2>
                <p>This is the contact information page for MP4US, Online Video Downloader website. Here you can learn how to give your feedback, report an error, ask a question, give your complaints or claims with respect to the MP4US services.</p>
                <h2>If you want to report an error</h2>
                <h5>Please specify additional information following:</h5>
                <ul>
                    <li>address of the page (URL) from where you try to download the file,</li>
                    <li>links or messages displayed by our website as an answer to your download request.</li>
                </ul>
                <p>Please, email any questions, error reports, or complaints to <b>support@mp4us.live</b> or <b>contact@mp4us.live</b></p>
                <hr>
            </div>
        </div>
        {% include 'footer_page.html' %}
    </body>
</html>
