{% extends "index.html" %}


{% block content %}
{% for dt in data %}
<div class="container">
    <div class="row">
        <h1 class="text-primary fw-bold">{{ dt.title }}</h1>
        <!-- 16:9 aspect ratio -->
        <div class="col-md-6 col-sm-12 embed-responsive embed-responsive-16by9 d-block">
            <iframe class="embed-responsive-item img-responsive" width="100%" height="450px" src="{{ dt.url_emb }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-12">
            <table class="table table-responsive">
                <tr>
                    <th>Resolution</th>
                    <th>Duration</th>
                    <th>File Size</th>
                    <th>Download</th>
                </tr>
                <tr>
                    <td>{{ dt.seven }}</td>
                    <td>{{ dt.duration }}</td>
                    <td>{{ dt.file_size_720p }}</td>
                    <td>
                        <a href="{{ url_for('yt_res_720p_download') }}" id="seven" class="downloader">
                            <button class="btn btn-outline-primary">Download</button>
                        </a>
                        
                    </td>
                </tr>
                <tr>
                    <td>{{ dt.three }}</td>
                    <td>{{ dt.duration }}</td>
                    <td>{{ dt.file_size_360p }}</td>
                    <td>
                        <a href="{{ url_for('yt_res_360p_download') }}" id="three" class="downloader">
                            <button class="btn btn-outline-primary">Download</button>
                        </a>
                        
                    </td>
                </tr>
            </table>
            <h3>Description:</h3><p>{{ dt.description }}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}