<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Online Youtube Downloader">
    <meta property="og:description" content="Paste copied youtube video links in our input box to Download all kinds of online youtube video in full HD quality for free on the best downloader website, mp4us.live">
    <meta property="og:image" content="https://mp4us.live/static/icon/favicon.ico">
    <meta property="og:url" content="https://mp4us.live">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/favicon.ico') }}">
    <title>Mp4us: Online YouTube Link Video Downloader!</title>
    <meta name="description" content="Paste copied youtube video links in our input box to Download all kinds of online youtube video in full HD quality for free on the best downloader website, mp4us.live">
    
    <link defer rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <link defer rel="preloader" href="{{ url_for('static', filename='fonts/glyphicons-halflings-regular.woff2') }}" as="font" type="font/woff2" crossorigin>

    <!-- Google Ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6411693288489882" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144176874-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-144176874-4');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DREFFTTVK8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-DREFFTTVK8');
    </script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Videos",
          "name": "MP4US",
          "author": {
            "@type": "Person",
            "name": "Elvis Chukwuka"
          },
          "datePublished": "2022-010-20",
          "description": "This is an online youtube video downloader",
          "prepTime": "PT20M"
        }
    </script>
    <script>
        /*!
        loadCSS: load a CSS file asynchronously.
        */
        function loadCSS(href) {
            var ss = window.document.createElement('link');
            var ref = window.document.getElementsByTagName('head')[0];

            ss.rel = 'stylesheet';
            ss.type = 'text/css';
            ss.href = href;
            ss.defer

            // temporarily, set media to something non-matching to ensure it'll
            // fetch without blocking render
            ss.media = 'only x';

            ref.parentNode.insertBefore(ss, ref);

            setTimeout( function(){
                // set media back to `all` so that the stylesheet applies once it loads
                ss.media = 'all';
            }, 0);
        }
        loadCSS('{{ bootstrap.load_css() }}')
    </script>
</head>