{% extends "bootstrap/base.html" %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="jumbotron text-center">
                <a href="/">
                    <img class="img-responsive logo_css" src="icon/Youtube-dl.svg" alt="youtube downloader logo">
                </a>
                <h1 id="title_css">Online Youtube Video Downloader!</h1>
            </div>
        </div>
    </div>
    <form action="{{ url_for('download') }}" method="POST" >
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Paste the Youtube link you copied here!">
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Start download!
                </button>
            </span>
        </div>        
    </form>
    <p class="terms_css justify-content-center justify-content-space-between text-center">By using our service you are accepting our 
        <a href="">terms of use</a>
    </p>
</div>
{% endblock %}