<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GN43PS" style="display: none; visibility: hidden; width: 0; height: 0;"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include 'home_page.html' %}
        {% block content %}
        {% endblock %}
        {% include 'content_page.html' %}
        {% include 'footer_page.html' %}

        <script type="text/javascript">
            var infolinks_pid = 3379587;
            var infolinks_wsid = 0;
        </script>
        <script type="text/javascript" src="https://resources.infolinks.com/js/infolinks_main.js"></script>
        
        {% if cookies_check() %}
            {# then user has already consented so no requirement for consent banner #}
        {% else %}
            {# show a cookie consent banner #}
            <div id="cookie-consent-container">
                <p class="cookie-title">Cookies disclaimer</p>
                <p>
                    Our site saves small pieces of text information (cookies) on
                    your device in order to deliver better content and for statistical purposes.
                    You can disable the usage of cookies by changing the settings of your browser.
                    By browsing our website without changing the browser settings you grant us permission to store that information on your device. 
                </p>
                <button id="cookie-consent" class="btn btn-primary">I Consent</button>
            </div>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
        <script type="text/javascript" src="https://d12vn54927k41s.cloudfront.net/styles/loading.js" defer></script>
        <script type="text/javascript" src="https://d12vn54927k41s.cloudfront.net/styles/delay.js" defer></script>
        <script type="text/javascript" src="https://d12vn54927k41s.cloudfront.net/styles/cookie.js" defer></script>
    </body>
</html>